* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

section, div {
  text-align: center;
}

.toggle-example {
  min-height: 150px;
}

.toggle-example div.menu {
  margin-top: 1.5em;
}

ol, ul {
  margin: 1.5em 0 0 0;
  padding: 0;
}

li {
  display: inline-block;
}

.menu {
  animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-name: fadeInDown; 
}

.menu a {
  margin-right: 1em;
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid #b0ca3b;
  border-right: 1px solid #b0ca3b;
  padding: 6px 12px;
}

.menu > a:last-child, .menu li:last-child a {
  margin-right: 0;
}

.button, button, [role="button"] {
  color: #fff;
  background-color: #870052;
  border-color: #870052;
  margin: 1em 0 1.5em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  min-width: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.checked li {
  display: block;
}

.checked .confirm li {
  display: inline;
  width: 200px;
}

.checked .confirm a {
  min-width: 110px;
}

.checked .confirm li:first-child a {
  background-color: #ccc;
  color: #333;
  margin-right: 2em;
}

.checked .confirm li:last-child a {
  background-color: #d40963;
}

.checked a {
  text-decoration: none;
  min-width: 190px;
}

.checked [aria-checked="true"] {
  background-color: #b0ca3b;
  color: #333;
}

.clicked {
  transform: scale(0.5);
}

.hidden, [aria-hidden="true"] {
  display: none;
}

.active, [aria-checked="true"] {
  background-color: #d40963;
}

.login button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23FFFFFF' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.login button {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}